extends ../layoutlogin

block head
   script(src="/javascripts/questions/quelist/controller.js")
   script(src="/javascripts/questions/addque/controller.js")
   script(src="/javascripts/questions/quelist/directive.js")
   script(src="/javascripts/questions/addque/directive.js")
   script(src="/javascripts/game/create/controller.js")
   script(src="/javascripts/questions/quelistpage/controller.js")

block append main
   #wrap(ng-controller="create-cont")
      #log {{ error }}
      h1 Create Game
      input#name(placeholder="Game Name", ng-model="gameDetails.name", type="text")
      button.btn(ng-click="openQuestionsList()") Add Questions
      ques-list(ques="gameDetails.questions")
      .form-group
         label.col-xs-4.text-right(for="minutes") Enter game length in minutes: 
         .col-xs-8
            input#minutes(placeholder="Default: 60 minutes", name="minutes", ng-model="gameDetails.minutes")
      #grid-footer
         label Selected: {{ gameDetails.questions.length }}
      button(ng-click="create()") Create
