extends ../layoutlogin

block head
   script(src="/javascripts/questions/quelist/controller.js")
   script(src="/javascripts/questions/addque/controller.js")
   script(src="/javascripts/questions/quelist/directive.js")
   script(src="/javascripts/questions/addque/directive.js")
   script(src="/javascripts/game/create/controller.js")

block append main
   #wrap(ng-controller="create-cont")
      #log {{ error }}
      h1 Create Game
      input#name(placeholder="Game Name", ng-model="gameDetails.name")
      ques-list(ques="gameDetails.questions")
      #grid-footer
         label Selected: {{ gameDetails.questions.length }}
      button(ng-click="create()") Create
