extends ../layoutlogin
  
block head
   link(href='/stylesheets/gamescreen.css', rel='stylesheet')
   script(src="/javascripts/game/gamescreen/controller.min.js")
   script(src="/javascripts/layout/filter.min.js")
   script(src="/javascripts/game/gamescreen/directive.min.js")
   script(src="/javascripts/game/gamescreen/game-socket.min.js")
  

block append main
   #game-container
      h2#logo Game Screen
      #upper-wrap
         clock-div.upper-module
         high-scores-div.upper-module
      ques-div
