extends ../layout
  
block head
  link(href='/stylesheets/gamescreen.css', rel='stylesheet')
  script(src="/javascripts/game/module.min.js")
  script(src="/javascripts/game/controller.min.js")
  script(src="/javascripts/game/filter.min.js")
  script(src="/javascripts/game/directive.min.js")
  script(src="/javascripts/game/game-socket.min.js")
block main
  #game-container(ng-app="game-screen")
    h2#logo Game Screen
    #upper-wrap
      clock-div.upper-module
      high-scores-div.upper-module
    ques-div
