extened layout

block head
  link(href='/stylesheets/profilescreen.css', rel='stylesheet')

block main




    title #{title} - profile screen

    header
      h1 profile screen
    .container
      .main-conten
      .sidebar
      
