link(rel='stylesheet', href='/stylesheets/templates/clockdiv.css')
#clock-wrap
   h3 Time Left
   span.time= "{{ time.hours | numberFixedLen:2 }}:"
   span.time= "{{ time.minutes | numberFixedLen:2 }}:"
   span.time= "{{ time.seconds | numberFixedLen:2 }}"
