#high-wrap
  h3 High Scores
  .table-responsive
     table.table.table-condensed 
       tr(ng-repeat="player in players")
         td
            h5 {{ player.nickname }}
         td
            h5 {{ player.points }}
