link(rel='stylesheet', href='/stylesheets/templates/quesdiv.css')
#ques-wrap
  h2 Available Questions
  .numwrap(ng-repeat="num in [] | range: numOfQues")
    .unanswered(id="num{{ num }}")= "{{ num }}"
