#messages.col-sm-offset-8.col-sm-4(ng-hide="!message.show", dismiss-on-timeout="5000",uib-alert, ng-repeat="message in messages", ng-class="'alert-' + (message.type || 'warning')", close="closeMsg($index)") {{message.msg}}
#game-list-wrap
   table.table.table-striped(st-table='displayGames', st-safe-src='gamesList')
      thead
         tr
            th.col-xs-2 Name
            th.col-xs-2 Date Created
            th.col-xs-2 Length (minutes)
            th.col-xs-2 No' of questions
            th.col-xs-2 Status
            th.col-xs-2
         tr
            th(colspan='6')
               input.form-control(st-search='', placeholder='Search...', type='text')
      tbody
         tr(ng-repeat='game in displayGames track by $index')
            td.col-xs-2 {{ game.name }}
            td.col-xs-2 {{ game.dateCreated | date:"dd/MM/yyyy" }}
            td.col-xs-2 {{ game.gameLength }}
            td.col-xs-2 {{ game.questions.length }}
            td.col-xs-2
               span(ng-if="!game.isStarted") Not Played
               span(ng-if="game.isStarted && game.isEnded") Ended
               span(ng-if="game.isStarted && !game.isEnded") In Progress
            td.col-xs-2
               a(ng-click="startGame(game)", ng-if="!game.isStarted")
                  i.fa.fa-play(aria-hidden='true')
                  |  Start 
               a(ng-click="seeResults(game)", ng-if="game.isStarted && game.isEnded")
                  i.fa.fa-trophy(aria-hidden='true')
                  |  Results 
               a(ng-click="restartGame(game)", ng-if="game.isStarted && game.isEnded")
                  i.fa.fa-refresh(aria-hidden='true')
                  |  Restart 
               a(ng-click="goToGame(game)", ng-if="game.isStarted && !game.isEnded")
                  i.fa.fa-gamepad(aria-hidden='true')
                  |  Go to Game 
      tfoot
         tr
            td.text-center(colspan='6')
               div(st-pagination='', st-items-by-page='15', st-displayed-pages='5')
