extends layout
  
block head
  link(href='/stylesheets/gamescreen.css', rel='stylesheet')
  script(src="/javascripts/game/module.js")
  script(src="/javascripts/game/controller.js")
  script(src="/javascripts/game/filter.js")
  script(src="/javascripts/game/directive.js")
  
block main
  #game-container(ng-app="game-screen")
    #upper-wrap
      clock-div
      high-scores-div
    ques-div
