extends layout
  
block head
  link(href='/stylesheets/gamescreen.css', rel='stylesheet')
  script(src="/javascripts/game/module.min.js")
  script(src="/javascripts/game/controller.min.js")
  script(src="/javascripts/game/filter.min.js")
  script(src="/javascripts/game/directive.min.js")
  
block main
  #game-container(ng-app="game-screen")
    h1 Game Screen
    #upper-wrap
      clock-div
      high-scores-div
    ques-div
