doctype html
html
  head
    title Social Gaming
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/base/angular.min.js")
    script(src="/javascripts/base/jquery-2.2.1.min.js")
    script(src='/socket.io/socket.io.js')
    
    block head
    
  body
    block main
