extends layout

block navbar
   .container-fluid
      .row
         .col-md-12
            nav.navbar.navbar-fixed-top
               .navbar-header
                  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                     span.sr-only Toggle navigation
                     span.icon-bar
                     span.icon-bar
                     span.icon-bar
                  a.navbar-brand(onclick="home()")
                     img(src='/images/logo.png', data-active-url='/images/logo.png', alt='Battle Smart', class="logoimg")
               #bs-example-navbar-collapse-1.collapse.navbar-collapse
                  .nav.navbar-nav.navbar-right.main-nav
                     login-div(upper="true")
                     #profile(ng-show="loggedin", style="margin-right: 40px;")
                        .row
                           .col-sm-4.text-center
                              h4#usernick {{user.nickname}} {{user.points}}
                                 span.fa.fa-circle.gold 
                                 //- | {{user.nickname}} 
                                 //- |  {{user.points}}
                           .col-sm-2
                              button.btn.btn-blue.btn-bottom-border(ng-click="goToProfilePage()") Profile
                           .col-sm-2
                              button.btn.btn-blue.btn-bottom-border(ng-click="logout()") Logout
                           .col-sm-2
                              button.btn.btn-red.btn-bottom-border(onclick="create()") Create
                           .col-sm-2
                              button.btn.btn-green.btn-bottom-border(onclick="join()") Join

   .mobile-nav
      ul
         login-div(upper="false")
         #profile(ng-show="loggedin")
            h4
               | {{user.nickname}} 
               i.fa.fa-circle.gold 
               |  {{user.points}}
            .row
               .col-xs-2
               .col-xs-4
                  button.btn.btn-blue(href="", ng-click="goToProfilePage()") Profile
               .col-xs-4
                  button.btn.btn-blue(href="", ng-click="logout()") Logout
               .col-xs-2
            .row
               .col-xs-2
               .col-xs-4
                  button.btn.btn-red(onclick="create()") Create
               .col-xs-4
                  button.btn.btn-green(onclick="join()") Join
               .col-xs-2
      a.close-link(href='#')
         i.fa.fa-arrow-up
         
