extends layout

block head
  link(rel='stylesheet', href='/javascripts/base/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='/javascripts/base/bootstrap/css/bootstrap-theme.min.css')
  script(src='/javascripts/base/bootstrap/js/bootstrap.min.js')

block title
  title Game Controller
