doctype html
html

   head

      block title
      title Social Gaming

      link(rel='stylesheet', href='/stylesheets/style.css')
      base(href="http://localhost:3000/")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js")
      script(src="https://code.angularjs.org/1.5.5/angular-cookies.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js")
      script(src="/javascripts/base/jquery-2.2.1.min.js")
      script(src='/socket.io/socket.io.js')
      script(src="/javascripts/layout/module.js")
      script(src="/javascripts/layout/login/controller.js")
      script(src="/javascripts/layout/login/directive.js")

      block head

   body(ng-app="mainApp")
      // TODO - Create directive for this 
      login-div
      
      block main
