extends layout

block login
   login-div(upper="true")
   #profile(ng-show="loggedin")
      h3 Hello, 
         span(ng-bind="user.nickname")
         span= " - "
         a(href="", ng-click="logout()")  Logout
