extends layoutmobile

block main
  link(rel='stylesheet', href='/stylesheets/gameremote.css')
  #cont-wrap(ng-app="remote")
    #view(ng-view)
      #quespick(ng-controller="remote-cont")
        h1 Pick a Question
        input#in(type='text', ng-model='numin')
        button#pick(ng-click="sendnum()") Send
