#login(ng-hide="loggedin")
   h3
      a(href="", ng-click="login()") Login
#profile(ng-show="loggedin")
   h3 Hello, 
      span(ng-bind="user.username")
      span= " - "
      a(href="", ng-click="logout()")  Logout
