link(rel="stylesheet", href="/stylesheets/questions/queslist.css")
#ques-list-wrap
   #messages.col-sm-offset-8.col-sm-4(ng-hide="!message.show", dismiss-on-timeout="5000",uib-alert, ng-repeat="message in messages", ng-class="'alert-' + (message.type || 'warning')", close="closeMsg($index)") {{message.msg}}
   .addques(ng-show="isAddQueVisible")
      a.btn.btn-blue(ng-click="toggleAddQues()") {{ addQuesText }}
      add-ques(ng-show="showAddQue", added="addedQuestion")
      a.btn.btn-blue(ng-click="clearAll()", ng-show="isClearAllVisible") Clear Selection
   .checkbox(ng-show="isShowPrivateQuesVisible")
         input#showPrivate(type="checkbox", ng-model="showPrivate", ng-change="getQuestions(showPrivate)", ng-true-value="'private'", ng-false-value="'public'")
         label(for="showPrivate") Show only own questions?
   table.table.table-striped(st-table='displayQuestions', st-safe-src='questionsList')
      thead
         tr
            th.col-xs-3 Question
            th.col-xs-3 Answer
            th.col-xs-2 Created By
            th.col-xs-2 Category
            th.col-xs-2
         tr
            th(colspan='6')
               input.form-control(st-search='', placeholder='Search...', type='text')
      tbody
         tr(ng-repeat='question in displayQuestions track by $index')
            td.col-xs-3 {{question.question}}
            td.col-xs-3 {{question.answer}}
            td.col-xs-2 {{question.nickname}}
            td.col-xs-2 {{question.category.name}}
            td.col-xs-2
               div(ng-if="quesType==null")
                  a(ng-click="addQuestionToGame(question)", ng-if="!question.isSelected")
                     i.fa.fa-plus(aria-hidden='true')
                     | Add To Game
                  a(ng-click="removeFromGame(question)", ng-if="question.isSelected")
                     i.fa.fa-times(aria-hidden='true')
                     | Remove
               div(ng-if="quesType=='private'")
                  a(ng-click="editQuestion(question)")
                     i.fa.fa-pencil(aria-hidden='true')
                     | Edit 
                  a(ng-click="deleteQuestion(question)")
                     i.fa.fa-trash(aria-hidden='true')
                     | Delete
      tfoot
         tr
            td.text-center(colspan='6')
               div(st-pagination='', st-items-by-page='10', st-displayed-pages='7')
