link(rel="stylesheet", href="/stylesheets/questions/queslist.css")
#ques-list-wrap
   a.btn(ng-click="toggleAddQues()") {{ addQuesText }}
   add-ques(ng-show="showAddQue", added="addedQuestion")
   .checkbox 
      label
         input(type="checkbox", ng-model="showPrivate", ng-change="getQuestions(showPrivate)", ng-true-value="'private'", ng-false-value="'public'")
         | Show only own questions?
   .quesGrid(ui-grid="gridOptions", ui-grid-selection)
   a.btn(ng-click="clearAll()") Clear Selection
