link(rel="stylesheet", href="/stylesheets/questions/queslist.css")
#ques-list-wrap
   .checkbox 
      label
         input(type="checkbox", ng-model="showPrivate", ng-change="getQuestions(showPrivate)", ng-true-value="'private'", ng-false-value="'public'")
         | Show only own questions?
   a.btn(ng-click="goToAddQuestion()") Add a new question
   a.btn(ng-click="clearAll()") Clear Selection
   .quesGrid(ui-grid="gridOptions", ui-grid-selection)
