extends ../layoutlogin

block append head
   script(src="/javascripts/questions/addque/controller.js")

block main
   #que-add-wrap(ng-controller="que-add-ctrl", )
      a(ng-click="back()") Back
      form(name="queForm", novalidate, ng-submit="addQuetion()")
         h2 Create Question
         .form-group(ng-class="{ 'has-error' : queForm.queText.$invalid && !queForm.queText.$pristine }")
            label Enter your question
            input.form-control(name="queText", type="text", ng-model="queDetails.question", required, ng-minlength="6", ng-maxlength="120")
         .form-group(ng-class="{ 'has-error' : queForm.ansText.$invalid && !queForm.ansText.$pristine }")
            label Enter the answer
            input.form-control(name="ansText", type="text", ng-model="queDetails.answer", required, ng-minlength="4", ng-maxlength="10")
         #public-check
            label Do you wish this question to be Private? (Other users will not see it)
            input(type='checkbox', name="isPrivate", ng-model='queDetails.isPrivate' checked='false')
         button.btn(type="submit", ng-disabled="queForm.$invalid") Add Question
         button.btn(type="button", ng-click="clearQue()") Reset
