extends ../layoutlogin

block append head
   script(src="/javascripts/questions/quelist/controller.js")

block main
   //- change to angular grid
   #ques-list-wrap(ng-controller="que-list-ctrl")
      .quesGrid(ui-grid="{ data: questions }")
      //- table
      //-    tr
      //-       td Created By
      //-       td Question
      //-       td Answer
      //-    tr(ng-repeat="q in questions")
      //-       td= "{{ q.nickname }}" 
      //-       td= "{{ q.question }}"
      //-       td= "{{ q.answer }}"
