extends ../layoutlogin

block append head
   script(src="/javascripts/questions/quelistpage/controller.js")
   script(src="/javascripts/questions/quelist/controller.js")
   script(src="/javascripts/questions/quelist/directive.js")

block main
   ques-list(ques="questions")
   #log selected: {{ questions.length }}
