extends ../layout

block head
  script(src="/javascripts/mainscreen/create/module.js")
  script(src="/javascripts/mainscreen/create/controller.js")

block main
  #wrap(ng-app="create-page" ng-controller="create-cont")
    h1 Create Game
    input#name(placeholder="Game Name", ng-model="data.gameName")
    button(ng-click="create()") Create
