extends ../layout

block main
  script(src="/javascripts/mainscreen/module.js")
  h1 Create Game
  form(method="post", action="/services/create/game")
    input#name(placeholder="Game Name", name="gameName") 
    button(onclick="create()") Create
