extends ../layoutlogin

block append head
   script(src='/javascripts/mainscreen/index.js')

block b-main    
  header#intro
    .container
      .table
        .header-text
          .row
            .col-md-12.text-center
               h1.light.white Battle Smart
               h3.white.typed Competition for the Fastest and the Smartest!
               span.typed-cursor |
   section
      .cut.cut-top
      .container
         .row.intro-tables
            .col-md-4
               .intro-table.intro-table-first
                  h5.white.heading.hide-hover Check out the Hall Of Fame to see the best players of the Battle
                  .bottom
                     h4.white.heading.small-heading.no-margin.regular Enter The Hall of Fame
                     a.btn.btn-white-fill.expand(onclick='halloffame()') Hall of Fame
            .col-md-4
               .intro-table.intro-table-hover
                  h5.white.heading.hide-hover Create new games out of the thousands of questions
                  .bottom
                     h4.white.heading.small-heading.no-margin.regular See your games
                     a.btn.btn-white-fill.expand(onclick='games()') Games
            .col-md-4
               .intro-table.intro-table-third.intro-table-hover
                  h5.white.heading.hide-hover Contribute to the community by writing new questions for other players to play
                  .bottom
                     h4.white.heading.small-heading.no-margin.regular Manage your question
                     a.btn.btn-white-fill.expand(onclick='questions()') Questions
               
block main
   section#services.section.section-padded
      .container
          .row.text-center.title
            h2 About the Game
            h4.light.muted Create, play and share fun learning games for any subject, for all ages, forever!
          .row.services
            .col-md-4
              .service
                .icon-holder
                  img.icon(src='/template/img/icons/heart-blue.png', alt='')
                h4.heading How to play
                p.description
                  | The creator of the game chooses a subject, and the questions are built respectively.
                  | All you need is a big room, a screen, smart cellphone, internet and group of people.
            .col-md-4
              .service
                .icon-holder
                  img.icon(src='/template/img/icons/guru-blue.png', alt='')
                h4.heading The agenda
                p.description
                  | Creating a social learning technology! We believe that if you provide people the right platform, 
                  | they will activate their imagination and create the optimal experience.
            .col-md-4
              .service
                .icon-holder
                  img.icon(src='/template/img/icons/weight-blue.png', alt='')
                h4.heading Who can play?
                p.description
                  | The game is suitable to everyone. It is easy for people to get involved with this technology and participate with their smart cellphone.   
         .cut.cut-bottom   
                 
